
h2 {
  margin-bottom: 2.5rem;
}

header,
article {
  margin: 2rem 0;
}

article {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
}

.header-bg {
  background: linear-gradient(180deg, #190C29 0%, #221941 50%, transparent 100%);
}
